<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeNSound ESP32 Setup</title>
    <link rel="stylesheet" href="../static/css/captive_portal.css">    
</head>
<body>
    <!-- Error Message -->
    <div class="container " id="errorMessage">
        <div class="header-icon" style="background-color: #f44336;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c-13.3 0-24 10.7-24 24V264c0 13.3 10.7 24 24 24s24-10.7 24-24V152c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/>
            </svg>
        </div>
        <h1>Connection Failed</h1>
        <p>Could not connect to WiFi. Please check your credentials and try again.</p>
        <center><a href="/" class="link">Go Back</a></center>
    </div>

</body>
</html>